body{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
h1,footer{
    background-color: #605e5e;
    margin-top: 0;}
h1{
    font-size:50px;
}
.container1, .container2, .container3, .container4, footer {
    margin-top: 0;
    padding-top: 0;
  }
  
h4{
    font-size:20px;
}
.container1,.container4{
    text-align: center;
    background-color: cornflowerblue;
}
.image{
display:block;
  margin: 0 auto;
}
.container2,.container3{
    background-color:#A7ABB2;
    font-size:20px;
    text-align:center;
}
h2{
    font-size: 35px;
}
ul {
    list-style: none;
    padding-left: 0;
  }
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#605e5e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color:#605e5e;
  }
  .container2.img{
    width:1000px;
    height:1000px;
  }
  .container4{
    font-size:20px;
  }

  h1,footer {
    text-align: center;
    background-color: #605e5e;
    color: #fff;
    padding: 20px 0;
  }